:root,
html.dark:root {
  color-scheme: dark;
  --color-primary-50: 252 253 255;
  --color-primary-100: 239 242 245;
  --color-primary-200: 218 223 230;
  --color-primary-300: 186 192 203;
  --color-primary-400: 146 153 166;
  --color-primary-500: 102 112 126;
  --color-primary-600: 72 82 97;
  --color-primary-700: 54 61 73;
  --color-primary-800: 35 39 47;
  --color-primary-900: 20 22 27;
  --color-primary-950: 18 19 22;
}

html.light:root {
  color-scheme: light;
  --color-primary-50: 18 19 22;
  --color-primary-100: 20 22 27;
  --color-primary-200: 35 39 47;
  --color-primary-300: 54 61 73;
  --color-primary-400: 72 82 97;
  --color-primary-500: 102 112 126;
  --color-primary-600: 146 153 166;
  --color-primary-700: 186 192 203;
  --color-primary-800: 218 223 230;
  --color-primary-900: 239 242 245;
  --color-primary-950: 252 253 255;
}

$fontSize-h1: clamp(36px, 4.5vw, 48px);
$fontSize-h2: clamp(32px, 4vw, 42px);
$fontSize-h3: clamp(24px, 3vw, 36px);
$fontSize-h4: clamp(18px, 2.5vw, 24px);
$fontSize-b: clamp(16px, 2.5vw, 20px);
$fontSize-p: clamp(14px, 2vw, 18px);
$fontSize-a: 18px;
$base-background: #121316;
$text-color: #ffffff;
