.DS_Store
.git
.github
.gitignore
.dockerignore
.editorconfig
.env*
.nuxt
.output
.vscode
.idea
*.log
build
dist
node_modules
Dockerfile*
docker-compose*
README.md
LICENSE
Makefile
helm-charts
coverage*
