$fontSize-h1: clamp(36px, 4.5vw, 48px);
$fontSize-h2: clamp(32px, 4vw, 42px);
$fontSize-h3: clamp(24px, 3vw, 36px);
$fontSize-h4: clamp(18px, 2.5vw, 24px);
$fontSize-b: clamp(16px, 2.5vw, 20px);
$fontSize-p: clamp(14px, 2vw, 18px);
$fontSize-a: 18px;
$base-background: #121316;
$text-color: #ffffff;