@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap';

/* --- ESSENTIALS --- */
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

html {
  background: $base-background;
  margin: 0;
  padding: 0;
}

html,
body,
#__nuxt {
  overflow-x: hidden;
}

body,
#__nuxt {
  overflow-y: hidden;
}

label,
a,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  text-decoration: none;
  color: $text-color;
}

h1 {
  font-size: $fontSize-h1;
  font-weight: 800;
}

h2 {
  font-size: $fontSize-h2;
  font-weight: 700;
}

h3 {
  font-size: $fontSize-h3;
  font-weight: 700;
}

h4 {
  font-size: $fontSize-h4;
  font-weight: 600;
}

b {
  font-size: $fontSize-b;
}

p {
  font-size: $fontSize-p;
}

a {
  font-size: $fontSize-a;
}

sub,
sup {
  bottom: auto;
  line-height: normal;
  font-size: smaller;
}

/* MOBILE ON TAP HIGHLIGHT */
*:active,
*:hover,
*:focus {
  -webkit-tap-highlight-color: #00000066;
}

img {
  user-select: none;
}

// additional scss
section#welcome,
section#about,
section#work,
section#contact {
  @apply py-24 min-h-screen;
}

#welcome svg,
#about svg,
#work svg,
#contact svg,
#welcome .svg,
#about .svg,
#work .svg,
#contact .svg {
  @apply absolute -left-[5%] w-[110%] h-full min-w-[1400px] aspect-[1400/810] -z-40 pointer-events-none;
}

#welcome svg,
#welcome .svg {
  @apply -top-[5%] rotate-180;
}

#about svg,
#work svg,
#about .svg,
#work .svg {
  @apply top-0;
}

#contact svg,
#contact .svg {
  @apply bottom-0;
}

@media (max-width: 768px) {
  #work svg,
  #work .svg {
    @apply -left-[65%];
  }
}

section {
  @apply relative w-full flex;
}

#about,
#work {
  z-index: 1;
}

.text-gradient {
  background: linear-gradient(90deg, #915eff 0%, #ff006a 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
