@use '@/assets/scss/_variables.scss' as *;
@use '@/assets/scss/_mixins.scss' as *;
@use '@/assets/scss/_animations.scss' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* --- ESSENTIALS --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

html {
  background: $base-background;
  margin: 0;
  padding: 0;
}

html,
body,
#__nuxt {
  overflow-x: hidden;
}

body,
#__nuxt {
  overflow-y: hidden;
}

label,
a,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  text-decoration: none;
  color: $text-color;
}

h1 {
  font-size: $fontSize-h1;
  font-weight: 800;
}

h2 {
  font-size: $fontSize-h2;
  font-weight: 700;
}

h3 {
  font-size: $fontSize-h3;
  font-weight: 700;
}

h4 {
  font-size: $fontSize-h4;
  font-weight: 600;
}

b {
  font-size: $fontSize-b;
}

p {
  font-size: $fontSize-p;
}

a {
  font-size: $fontSize-a;
}

sub,
sup {
  bottom: auto;
  line-height: normal;
  font-size: smaller;
}

/* MOBILE ON TAP HIGHLIGHT */
*:active,
*:hover,
*:focus {
  -webkit-tap-highlight-color: #00000066;
}

img {
  user-select: none;
}

.drop-shadow-custom {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.box-shadow-custom {
  box-shadow: 2px 2px 16px #000;
}

/* --- Additional scss --- */
section {
  @apply relative w-full min-h-screen py-24 flex items-center;
}

#about,
#work {
  z-index: 1;
}

#welcome,
#contact {
  .FloatCont.bg {

    svg,
    img {
      @apply absolute -left-[5%] max-w-[inherit] w-[110%] -z-40 pointer-events-none;
    }
  }
}

#welcome .FloatCont svg {
  @apply -top-[5%] rotate-180;
}

#contact .FloatCont svg {
  @apply bottom-0;
}

.text-gradient {
  background: linear-gradient(90deg, #915eff 0%, #ff006a 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* tags */
$tag-colors: (
  html5: #fd8458,
  css3: #51abf6,
  php: #a4a4cc,
  mysql: #00b7db,
  sass: #cc6699,
  js: #ffdf00,
  javascript: #ffdf00,
  jquery: #46adf6,
  tailwindcss: #36bcf9,
  ajax: #21b0f2,
  typescript: #2e72bf,
  vue: #3eb27f,
  nuxt: #00dc81,
);

@each $tag, $color in $tag-colors {
  .tag-#{$tag} {
    color: $color;
  }
}

@layer utilities {
  .shdw {
    box-shadow:
      inset 0 0 0.8px 1px hsla(0, 0%, 100%, 0.1),
      0 0 0 1px hsla(230, 13%, 9%, 0.075),
      0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
      0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
      0 3.5px 6px hsla(230, 13%, 9%, 0.09);
  }
}

/* pretty forms by @germondai */
.form {
  @apply relative flex flex-col rounded-2xl;

  .field {
    @apply relative w-full my-2;

    &.checkbox {
      @apply flex items-center justify-center gap-2;

      label {
        @apply relative order-first w-auto text-white;
      }
    }

    &.textarea {
      @apply mb-0;
    }

    label {
      transition:
        font-size 0.3s,
        top 0.3s;
      @apply absolute top-3.5 left-4 pr-2.5 w-[calc(100%-0.5rem)] inline-block truncate leading-none pointer-events-none;
    }
  }

  input,
  textarea,
  select {
    &:required~label {
      @apply flex items-center before:content-['*'] before:text-red-600 before:ml-1 before:mt-0.5 before:order-2 before:text-xl before:leading-none;
    }

    &::placeholder {
      @apply text-transparent;
    }

    &:focus~label,
    &:not(:placeholder-shown)~label {
      @apply text-xs top-0 left-2 opacity-60;
    }
  }

  input:not([type='submit']),
  textarea,
  select {
    transition: padding-top 0.3s;
    @apply relative w-full min-w-64 min-h-12 max-h-[164px] p-4 px-2 pb-0.5 rounded-lg;
  }

  input,
  button {
    &[type='number'] {

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
      }
    }

    &[type='checkbox'] {
      @apply w-auto min-w-[42px] aspect-square;
    }

    &[type='submit'] {
      @apply w-full flex items-center justify-center cursor-pointer border-0 my-2 p-1 rounded-2xl;
    }
  }

  textarea {
    @apply resize-y pt-[18px] min-h-[164px] max-h-[40vh] max-xl:max-h-[30vh];
  }

  span[role='alert'] {
    @apply text-red-600;
  }
}